alembic==1.11.1
APScheduler==3.10.1
Flask==2.3.2
Flask-Cors==4.0.0
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.3
Flask-Testing==0.8.1
mysql-connector==2.2.9
PyMySQL==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-gitlab==3.15.0
requests==2.31.0
cryptography==41.0.1
SQLAlchemy==2.0.16
testing.common.database==2.0.3
testing.mysqld==1.4.0